body {
  margin: 0;
  font-family: "Maitree", serif;
  font-weight: 300;
  font-style: normal;
}
:root{
  --bg-color:#dc3545
}
h3, h4{
  color: var(--bg-color);
  margin-bottom: 15px;
  font-family: "Play", serif;
  font-weight: 700;
  font-style: normal;
}
h3{
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: inherit;
}
section > .container-fluid{
  padding: 8% 3%;
}
nav .container-fluid{
  padding: 1% 3%;

}


.navbar-brand img{
  width:40%;

}
@media (max-width:750px) {
  .navbar-brand img{
    width:50%;
  
  }
  .navbar-brand{
    width: 70%;

  }
}
.productgrid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  gap: 10px;
}
.cakeDisplay{
 margin-bottom: 15px;
  height: 400px;
}
@media (max-width:750px) {
  .productgrid{
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
  }
  .cakeDisplay{
    height: 250px;
  }

}
#header-section{
  background-color:whitesmoke ;

}
.header-icons{
  width: 68px;
  height: 68px;
}
.aboutgrid{
  min-height: 60vh;
}
.cakeBackground,#contact{
  background-image: url('./assets/cakeshowcase.jpg');
  background-size: cover;
  background-position: center center;
}
#contact{
  background-image: url('./assets/backgroundblossom.jpg');
}
.contact-fluid, .slogan{
  padding: 3% ;
}
#contact h4{
  color: black;
}
.chefIcon{
  width: 100px;
  height: 70px;
}

#footer{
  background: whitesmoke;
  color: black;
}
@media (max-width:750px) {
  .chefIcon{
    width: 90px;
    height: 60px;
  }
  .header-icons{
    width: 58px;
    height: 58px;
  }
}
 /* header headre */
.divStyle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.contactDiv{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
@media (max-width:750px) {
  .contactDiv{
    flex-direction: column;
    align-items: start;
  }
}
.slogan{
  background: var(--bg-color);
  color: white;
  font-family: "Great Vibes", serif;
  font-weight: 400;
  font-style: normal;
}